<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wonderland.kids" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wonderland Arcade</name>
    <description>
        Wonderland Arcade for Kids - Fun educational games for children
    </description>
    <author email="dev@wonderlandarcade.com" href="https://wonderlandarcade.com">
        Wonderland Kids
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Orientation" value="portrait" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="loglevel" value="log" />
    <preference name="phonegap-version" value="cli-9.0.0" />
</widget>
